.right_bar
  .right_bar__user
    .user-name
      nakakouchi
  .right_bar__search
    %form.search
      .search-box
        %input{type: "text", class: "search-text", placeholder:"キーワード検索"}
        %label{class: "search-btn"}
          = icon('fas', 'search')